.requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 10px;
  height: calc(100vh - 150px);
  gap: 16px;
}

.requests__input {
  height: 40px;
  border-radius: 15px;
  padding-left: 5px;
}

.requests__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.requests__button {
  all: unset;
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

.requests__message {
  background-color: #87cefa;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}
