.footer {
  display: flex;
  width: 100%;
  min-height: 70px;
  color: #fff;
  background-color: #6984b2;
  position: fixed;
  bottom: 0;
}

.footer__buttons {
  display: flex;
  justify-content: center;
  margin: 6px;
  gap: 10px;
  width: 100%;
}

.footer__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  gap: 5px;
}

.footer__button-link_active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  gap: 5px;
  background-color: #707f9c;
  box-shadow: 0 0 10px 2px #fee600;
  border-radius: 5px;
  padding: 5px;
}

.footer__image {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.footer__link-name {
  text-align: center;
  font-size: 13px;
}
