.bank-rates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  padding: 75px 16px;
}

.bank-rates__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bank-rates__title-dates {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.bank-rates__titles {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  text-wrap: nowrap;
}

.bank-rates__data {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 0.3px solid rgba(0, 0, 0, .2);
}

.bank-rates__data:last-of-type {
  border-bottom: none;
}

.bank-rates__title {
  margin: 0 0 8px;
  min-width: 80px;
  text-align: right;
}

.bank-rates__title_left {
  text-align: left;
}

.bank-rates__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.bank-rates__chars {
  display: flex;
}

.bank-rates__char {
  min-width: 33px;
}

.bank-rates__span {
  opacity: 0.5;
}

.bank-rates__char-name {
  display: none;
  text-wrap: nowrap;
}

.bank-rates__price-block {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.bank-rates__value {
  font-weight: 500;
  text-align: right;
  min-width: 50px;
  margin-right: 15px;
}

.bank-rates__value:last-of-type {
  margin-right: 5px;
}

.bank-rates__arrow {
  font-weight: 600;
}

@media screen and (min-width: 550px) {
  .bank-rates__char-name {
    display: block;
  }
}
