.currencys {
  margin: auto;
  min-width: 290px;
  max-width: 640px;
  margin: auto;
  padding: 70px 0;
}

.currencys__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
  list-style: none;
}

.currencys__title {
  margin: 0;
  font-weight: 500;
}

.currencys__price {
  margin: 0;
}
