.currencys {
  padding: 75px 16px;
  font-size: 14px;
  line-height: 20px;
}

.currencys__container {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
  list-style: none;
}

.currencys__titles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currencys__names {
  display: flex;
  flex-direction: column;
}

.currencys__title {
  margin: 0;
  font-weight: 500;
}

.currencys__symbol {
  opacity: 0.5;
}

.currencys__price-changes {
  display: flex;
  gap: 10px;
}

.currencys__price {
  margin: 0;
  align-content: center;
  font-weight: 500;
}

.currencys__percents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currencys__arrow {
  text-align: center;
}

.currencys__percent {
  margin: 0;
}
